<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/SpaceX-Logo-Xonly.svg/2560px-SpaceX-Logo-Xonly.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/history.css">
</head>
<body>
    <header class="header">
        <div id="header__title" class="header__title">
            <div id="title" class="load"></div>
        </div>
    </header>

    <main class="main">
        <section class="main__section">
            <section class="load news" id="history">

            </section>
            <footer class="footer">
                <line class="linea linea1"></line>
                <ul>
                    <li id="rocket">
                        <a href="../index.html">
                            <img src="../storage/img/rocket.svg">
                            <span>Rockets</span>
                        </a>
                    </li>
                    <li id="capsules">
                        <a href="./views/capsulas.html">
                            <img src="../storage/img/capsule.svg">
                            <span>Capsules</span>
                        </a>
                    </li>
                    <li>
                        <a class="select" href="./views/historial.html">
                            <img src="../storage/img/prop.svg">
                            <span>History</span>
                        </a>
                    </li>
                    <li>
                        <a href="./views/company.html">
                            <img src="../storage/img/company.svg">
                            <span>Company</span>
                        </a>
                    </li>
                </ul>
                <line class="linea linea2"></line>
            </footer>

        </section>

        <div id="buttons" class="load buttons">
        </div>

    </main>

</body>
<script src="../js/history.js"></script>
</html>